<footer class="site-footer">
  <div class="contact-info2">
    <h4 class="font1"><span class="font1 con-tag glyphicon glyphicon-envelope"></span>{{ site.email }}</h4>
    <h4 class="font1"><span class="font1 con-tag glyphicon glyphicon-earphone"></span>{{ site.phone }}</h4>
    <h4 class="font1"><span class="font1 con-tag glyphicon glyphicon-print"></span>(503) 659-5164</h4>
  </div>
  <div class="my-map">
    {% include map.html %}
  </div>
</footer>

<div class="footer-stripe">
  <span class="foot-button"><a href="services.html" class="nolinkcolor">SERVICES</a></span> |
  <span class="foot-button"><a href="contact.html" class="nolinkcolor">CONTACT US</a></span> |
  <span class="foot-button"><a href="customproducts.html" class="nolinkcolor">CUSTOM PRODUCTS</a></span> |
  <span class="foot-button"><a href="http://www.companycasuals.com/expressitpromos/start.jsp" class="nolinkcolor">SAN MAR</a></span> |
  <span class="foot-button"><a href="http://www.logocasuals.com/sites/expressitpromos" class="nolinkcolor">THINC ACTIONWARE</a></span>
</div>
