<div class="nav-bar">
  <div class="nav-stripe">
  </div>
  <a class="contact" href="contact.html"><span class="nav-button nav-right">CONTACT US</span></a>
  <div class="dropdown1">
    <span class="nav-button"><a href="services.html" class="nolinkcolor">SERVICES</a></span>
    <div class="dropdown-services">
      <a href="services.html#screenprinting">Screen Printing</a>
      <a href="services.html#embroidery">Embroidery</a>
      <a href="services.html#artworkreq">Artwork Requirements</a>
    </div>
  </div>
  <div class="dropdown2">
    <span class="nav-button product-btn"><a href="customproducts.html" class="nolinkcolor">CUSTOM PRODUCTS</a></span>
    <div class="dropdown-products">
      <a href="customproducts.html#promoproducts">Promotional Products</a>
      <a href="customproducts.html#Stationaryproducts">Stationary Products</a>
      <a href="customproducts.html#wristcoils">Wrist Coils</a>
    </div>
  </div>
  <div class="dropdown3">
    <span class="nav-button">CATALOGS</span>
    <div class="dropdown-catalogs">
      <a href="http://www.companycasuals.com/expressitpromos/start.jsp">San Mar</a>
      <a href="http://www.logocasuals.com/sites/expressitpromos">Thinc Actionwear</a>
    </div>
  </div>

  <div class="dropdown4">
    <span class="nav-button glyphicon glyphicon-menu-hamburger"></span>
    <div class="dropdown-hamburger">
      <span class="cat-1">CATALOGS</span>
      <a href="http://www.companycasuals.com/expressitpromos/start.jsp">San Mar</a>
      <a href="http://www.logocasuals.com/sites/expressitpromos">Thinc Actionwear</a>
      <br />
      <span class="cat-2">CUSTOM PRODUCTS</span>
      <a href="customproducts.html#promoproducts">Promotional Products</a>
      <a href="customproducts.html#Stationaryproducts">Stationary Products</a>
      <a href="customproducts.html#wristcoils">Wrist Coils</a>
      <br />
      <span class="cat-3">SERVICES</span>
      <a href="services.html#screenprinting">Screen Printing</a>
      <a href="services.html#embroidery">Embroidery</a>
      <a href="services.html#artworkreq">Artwork Requirements</a>
      <span><a href="contact.html" class="cat-con">CONTACT US</a></span>
    </div>
  </div>

  <span class="nav-home"><a href="{{ site.baseurl }}/"><img src="/img/explogo.jpg" width="100px" height="55px"></a></span>
</div>
