<div class="nav-bar">
  <div class="nav-stripe">
  </div>
  <span class="nav-button nav-right">Contact Us</span>
  <span class="nav-button">Screen Printing</span>
  <span class="nav-button">Embroidery</span>
  <span class="nav-button">Promo Products</span>
  <span class="nav-button">Stationary Products</span>
  <span class="nav-home"><img src="/img/expressit/explogo.jpg" width="100px" height="55px"></span>
</div>

<header class="site-header">
  <div class="underlay">
    <div class="title-head">

      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <!-- <center><img src="/img/expressit/expressitlogo.png" width="181" height="113"></center> -->

    </div>
  </div>
</header>
