<div class="nav-bar">
  <div class="nav-stripe">
  </div>
  <span class="nav-button nav-right"><a class="contact" href="contact.html">CONTACT US</a></span>
  <div class="dropdown1">
    <span class="nav-button">SERVICES</span>
    <div class="dropdown-services">
      <a href="screenprinting.html">Screen Printing</a>
      <a href="embroidery.html">Embroidery</a>
      <a href="artworkreq.html">Artwork Requirements</a>
    </div>
  </div>
  <div class="dropdown2">
    <span class="nav-button product-btn">PRODUCTS</span>
    <div class="dropdown-products">
      <a href="promoproducts.html">Promotional Products</a>
      <a href="stationaryproducts.html">Stationary Products</a>
      <a href="wristcoils.html">Wrist Coils</a>
    </div>
  </div>
  <div class="dropdown3">
    <span class="nav-button">CATALOGS</span>
    <div class="dropdown-catalogs">
      <a href="sanmar.html">San Mar</a>
      <a href="thinc.html">Thinc Actionwear</a>
    </div>
  </div>

  <div class="dropdown4">
    <span class="nav-button glyphicon glyphicon-menu-hamburger"></span>
    <div class="dropdown-hamburger">

      <span class="cat-1">CATALOGS</span>
      <a href="sanmar.html">San Mar</a>
      <a href="thinc.html">Thinc Actionwear</a>
      <br />
      <span class="cat-2">PRODUCTS</span>
      <a href="promoproducts.html">Promotional Products</a>
      <a href="stationaryproducts.html">Stationary Products</a>
      <a href="wristcoils.html">Wrist Coils</a>
      <br />
      <span class="cat-3">SERVICES</span>
      <a href="screenprinting.html">Screen Printing</a>
      <a href="embroidery.html">Embroidery</a>
      <a href="artworkreq.html">Artwork Requirements</a>
      <span class="cat-1"><a class="contact" href="contact.html">CONTACT US</a></span>

    </div>
  </div>

  <span class="nav-home"><a href="{{ site.baseurl }}/"><img src="/img/expressit/explogo.jpg" width="100px" height="55px"></a></span>
</div>
