/**
 * Fonts
 */

 @font-face {
   font-family: Questrial;
   src: url('/fonts/Questrial-Regular.ttf');
 }

 .font1 {
   font-family: Questrial;
 }

 a:hover {
   color: #86c724 !important;
   text-decoration: none !important;
 }

 a {
   color: #86c724 !important;
 }

 a.nolinkcolor {
   color: black !important;
 }

 a.nolinkcolor:hover {
   color: black !important;
 }

/**
 * Nav-bar
 */

.nav-bar {
  width: 100%;
  display: block;
  margin-top: none;
  height: 65px;
  background-color: white;
  position: fixed;
  color: black;
  z-index: 3;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.nav-stripe {
  height: 2px;
  width: 100%;
  background-color: #86c724;
}

.nav-home {
  margin-left: 65px;
  margin-bottom: 5px;
  margin-top: 4px;
  float: left;
}

.nav-right {
  margin-right: 65px !important;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 7px;
  margin-top: 13px !important;
  color: #86c724;
}

.nav-right:hover {
  cursor: pointer;
}

.contact:hover {
  text-decoration: none;
}

.contact:visited {
  text-decoration: none;
  color: #86c724;
}

.nav-button {
  font-family: Questrial;
  font-size: 13px;
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  padding: 7px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 7px;
  margin-top: 13px !important;
  color: #86c724;
  cursor: pointer;
}

/**
 * Dropdowns
 **/

.dropdown1 {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-services {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-services a {
  color: #86c724;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-services a:hover {
  background-color: rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: #86c724;
}

.dropdown1:hover .dropdown-services {
  cursor: default;
  background-color: white;
  padding: 7px;
  margin-top: 40px !important;
  color: #86c724;
  display: block;
  z-index: 5;
}

.dropdown2 {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-products {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-products a {
  color: #86c724;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-products a:hover {
  background-color: rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: #86c724;
}

.dropdown2:hover .dropdown-products {
  cursor: default;
  background-color: white;
  padding: 7px;
  margin-top: 40px !important;
  color: #86c724;
  display: block;
  z-index: 5;
}

.dropdown3 {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-catalogs {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-catalogs a {
  color: #86c724;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-catalogs a:hover {
  background-color: rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: #86c724;
}

.dropdown3:hover .dropdown-catalogs {
  cursor: default;
  background-color: white;
  padding: 7px;
  margin-top: 40px !important;
  color: #86c724;
  display: block;
  z-index: 5;
}

.dropdown4 {
  float: right;
  position: relative;
  display: none;
}

.dropdown-hamburger {
  display: none;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 35%;

  .cat-1, .cat-2, .cat-3, .cat-con {
    background-color: rgba(0, 0, 0, 0.07);
    display: block;
    border-radius: 2px;
    padding: 2px !important;
  }

  .cat-con:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
}

.dropdown-hamburger a {
  color: #86c724;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-hamburger a:hover {
  background-color: rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: #86c724;
}

.dropdown4:hover .dropdown-hamburger {
  cursor: default;
  background-color: white;
  padding: 7px;
  color: #86c724;
  display: block;
  z-index: 5;
}

/**
 * Media Query
 */

@media screen and (max-width: 990px) {
  .dropdown1, .dropdown2, .dropdown3, .nav-right {
    display: none;
  }

  .dropdown4 {
    display: inline-block;
  }

  span.nav-home {
    margin-left: 45% !important;
  }

  .screenprinting, .embroidery, .promotional, .stationary, .catalogs,
  .sports, .school, .choir, .clubs, .events, .totes, .press, .glitter, .photos {
    height: 220px;
    width: 75% !important;
    float: left !important;
    margin-left: 13% !important;
    margin-right: none !important;
  }

  .contact-info {
    margin-top: 30px;
    margin-left: 0% !important;
    background-color: white !important;
  }

  .popular {
    margin-left: 13% !important;
    width: 75% !important;
  }

  .pricing {
    margin-left: 13% !important;
    width: 75% !important;
  }

  .solid-coil {
    margin-left: 0px !important;
  }

  .trans-coil {
    margin-left: 0px !important;
  }

  .price-tag {
    padding-top: 7px !important;
  }

  .wedding {
    display: none;
  }

  .list-links {
    margin-left: 5% !important;
  }

  .coil-title {
    margin-left: 0px !important;
  }

  .Vector {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 670px) {
  .site-footer {
    display: none;
  }

  .footer-stripe {
    display: none;
  }
}

@media screen and (max-width: 564px) {
  .title-head {
    text-align: center;
  }
  .site-title {
    display: none;
  }

  span.nav-home {
    margin-left: 40% !important;
  }

}

@media screen and (max-width: 503px) {

  span.nav-home {
    margin-left: 10px !important;
  }

  .underlay, .underlay-contact, .underlay-screenprinting, .underlay-promotional {
    display: none;
  }

  .main-con, .customproducts-con, .services-con, .contact-con {
    padding-top: 20% !important;
  }
}

/**
 * Home page
 */

 .underlay {
   background:
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url("/img/expressit/screenprintingbackground2.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
 }

 .title-head {
   display: block;
   align-content: center;
   z-index: 2;
   text-align: center;
   padding: 150px;
   margin-bottom: 15px;
 }

 .site-title {
   color: white;
   font-family: Questrial;
   font-size: 45px;
 }

 .site-title:hover {
   text-decoration: none;
   color: white;
 }

 .site-title:visited {
   color: white;
 }

 .site-title:active {
   color: white;
 }

 .links:hover {
  	text-decoration: none;
 }

 .left-side {
   margin-left: 45px;
   float: left;
 }

 .right-side {
   margin-right: 45px;
   float: right;
 }

.screenprinting {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/screenprinting.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.screenprinting:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/screenprinting.jpg");
  background-size: cover;
  background-position: center;
}

.embroidery {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/embroidery2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.embroidery:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/embroidery2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.promotional {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/promotional2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.promotional:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/promotional2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.stationary {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/stationary.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.stationary:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/stationary.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.catalogs {
  height: 220px;
  width: 75%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/catalogs.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.catalogs:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/catalogs.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.page-heading {
    font-size: 20px;
}

.col-md-5 {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.category-title {
  color: white;
}

.category-excerpt {
  color: white;
}

/**
* Contact Page
*/

.underlay-contact {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.contact-info {
  font-family: Questrial;
  text-align: left;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
}

.contact-phone {
  padding-left: 25px;
}

.contact-email {
  padding-left: 25px;
}

.contact-fax {
  padding-left: 25px;
}

.contact-title {
 text-align: center;
 font-family: Questrial;
 margin-bottom: 30px;
}

.contact-excerpt {
  margin-bottom: 45px;
}

/**
 * Services
 */

#screenprinting {
  text-align: center;
  margin-top: 30px;
}

#artworkreq {
  text-align: center;
}

#embroidery {
  text-align: center;
}

.Vector {
  margin-left: 20%;
  text-align: center;
}

.Raster {
  text-align: center;
}

.compare-pic {
  margin-top: 35px;
}

.underlay-screenprinting {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/screenprintingbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.sports {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/gladstonebaseball.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-left: 20%;
  margin-top: 25px;
  margin-bottom: 25px;

  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.sports:hover {
  background-image: url("/img/expressit/gladstonebaseball.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.school {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/lincolnpark.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.school:hover {
  background-image: url("/img/expressit/lincolnpark.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.choir {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/choir.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.choir:hover {
  background-image: url("/img/expressit/choir.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.clubs {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/running.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-left: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.clubs:hover {
  background-image: url("/img/expressit/running.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.events {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/teamfisher.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.events:hover {
  background-image: url("/img/expressit/teamfisher.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.totes {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/totebag.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.totes:hover {
  background-image: url("/img/expressit/totebag.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.press {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/candylane.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-left: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.press:hover {
  background-image: url("/img/expressit/candylane.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.glitter {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/glitter.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.glitter:hover {
  background-image: url("/img/expressit/glitter.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.photos {
  height: 220px;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/dogphoto.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.photos:hover {
  background-image: url("/img/expressit/dogphoto.jpg");
  background-size: cover;
  background-position: center;
  .fade-in {
    display: none;
  }
}

.screen-top {
  text-align: center;
  margin-top: 20px;
}

.pricing {
  float: left;
  margin-bottom: 40px;
}

.popular {
  float: left;
  margin-bottom: 40px;
}

/**
 * Custom Products
 */

 .underlay-promotional {
   background:
   linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   ),
   url("/img/expressit/promo.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
 }

 .list-title {

   text-align: center;
 }

 .list-links {
   margin-left: 5%;
 }

 .list-des {
   margin-left: 3%;
   margin-bottom: 40px;
 }

 .promo-snippet {
   text-align: center;
 }

.promo {
  text-align: center;
}

.col-md-offset-1 {
  margin-top: 25px;
}

.list-links a {
  color: #86c724;
}

.list-links:hover a {
  color: #86c724;
  text-decoration: none;
}

.stat {
  text-align: center;
}

.stat-snippet {
  text-align: center;
}

.stattt {
  margin-bottom: 55px;
}

.wedding {
  height: 90px;
  width: 75%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/weddinginvite.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  padding: 2px;
  margin-top: 12px;
  margin-bottom: 25px;
  margin-right: 20px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.wedding:hover a {
  text-decoration: none;
}

.grad {
  height: 50px;
  width: 75%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/grad.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  padding: 2px;
  margin-top: 12px;
  margin-bottom: 25px;
  margin-right: 20px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

/**
 * Wrist Coils
 */

.solid-coil {
  height: 300px;
  width: 100%;
  background:
  url("/img/expressit/wristcoil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
  margin-right: 15%;
  margin-left: 18%;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
  .fade-in {
    display: none;
  }
}

.solid-coil:hover {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/wristcoil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  .fade-in {
    display: block;
  }
  .fade-out {
    display: none;
  }
}


.trans-coil {
  height: 300px;
  width: 100%;
  background:
  url("/img/expressit/purplewrist.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
  margin-left: 0px;
  padding-bottom: 50px;
  text-align: center;
  .fade-in {
    display: none;
  }
}

.trans-coil:hover {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/purplewrist.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  .fade-in {
    display: block;
  }
  .fade-out {
    display: none;
  }
}

.price-trans {
  padding-top: 5px;
  margin-left: 30%;
}

.price-solid {
  padding-top: 5px;
  margin-left: 10%;
}

.coil-title {
  text-align: center;
  margin-left: 25%
}

.coil-pricing {
  margin-right: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.coil-pricing-title {
  text-align: center;
}

.qty {
  margin-right: 35px;
  margin-left: 20px;
}

.qty2 {
  margin-right: 75px;
}

.per {
  margin-left: 50px;
}

.per2 {
  margin-left: 30px;
}

.hover {
  text-align: center;
}

/**
 * Site footer
 */

 .site-footer {
   margin-top: 30px;
   background-color: gray;
   height: 250px;
 }

 .contact-info2 {
   margin-top: 35px;
   width: 50%;
   float: left;
   margin-right: 0px !important;
   margin-left: 25px;
   z-index: 0;
   padding-top: 0px;
   color: white;
   text-align: center;
 }

 .con-tag {
   padding-bottom: 10px;
   padding-top: 15px;
   padding-right: 15px;
 }

 .my-map {
   height: 200px !important;
   padding-top: 25px;
   padding-bottom: 25px;
   z-index: 25;
 }

 .footer-stripe {
   height: 45px;
   background-color: rgba(134, 199, 36, 0.7);
   bottom: 0px;
   padding: 15px;
   text-align: center;
   font-family: Questrial;
   color: black;
 }

 .foot-button {
   padding-right: 10px;
   padding-left: 10px;
 }

 .bottom {
   margin-top: 1750px;
 }

 .bottom2 {
   margin-top: 1150px;
 }
