/**
 * Site header
 */

.nav-bar {
  margin-top: none;
  height: 65px;
  background-color: white;
  background-attachment: scroll;
  color: #261579;
}

.nav-home {
  margin-left: 65px;
  margin-bottom: 5px;
  margin-top: 4px;
  float: left;
}

.nav-right {
  margin-right: 65px !important;
  background-color: rgba(134, 199, 36, 0.5);
  border-radius: 5px;
  padding: 7px;
  margin-top: 13px !important;
}

.nav-right:hover {
  background-color: rgba(134, 199, 36, 0.8) !important;
}

.nav-button {
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  padding: 7px;
}

.nav-button:hover {
  background-color: rgba(134, 199, 36, 0.5);
  border-radius: 5px;
  padding: 7px;
  margin-top: 13px !important;
}

.nav-stripe {
  height: 2px;
  background-color: #86c724;
}

.title-head {
  display: block;
  align-content: center;
  z-index: 2;
  text-align: center;
  padding: 150px;
  margin-bottom: 15px;
}

.site-title {
  color: white;
}

.site-title:hover {
  text-decoration: none;
  color: white;
}

.site-title:visited {
  color: white;
}

.site-title:active {
  color: white;
}

.underlay {

  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/screenprintingbackground2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/**
 * Page content
 */

.left-side {
  margin-left: 45px;
  float: left;
}

.right-side {
  margin-right: 45px;
  float: right;
}

.screenprinting {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/screenprinting.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.screenprinting:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/screenprinting.jpg");
  background-size: cover;
  background-position: center;
}

.embroidery {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/embroidery2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.embroidery:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/embroidery2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.promotional {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/promotional2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.promotional:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/promotional2.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.stationary {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/stationary.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.stationary:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/stationary.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.catalogs {
  height: 220px;
  width: 850px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("/img/expressit/catalogs.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.catalogs:hover {
  height: 220px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("/img/expressit/catalogs.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.page-heading {
    font-size: 20px;
}

.col-md-5 {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding-bottom: 25px;
  text-align: center;
  z-index: 0;
}

.category-title {
  color: white;
}

.category-excerpt {
  color: white;
}

/**
 * Site footer
 */
