---
# this front matter renders the file as css
---

/******************* Map ****************************/

/* all map containers must be full height */
#map {
  height: 100%;
  width: 100%;
  border-radius: 7px 0 0 7px;
  }

#map-canvas {
  width: 40%;
  height: 200px;
  padding: 0px;
  overflow:visible !important;
  margin-left: 60%;
  box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.75);
  z-index: 2;
  position: relative;
}

.company-location {
  position: relative;
  float: right;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
  padding: 15px 0px;
  border-radius: 7px 0 0 7px;
  color: #FFF;
  width: 150px;
  h4, p {color:#fff !important; margin-bottom:0;text-align: center !important;}
}

h4.company-location {
  color:#fff !important;
}
